*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Adiciona uma fonte externa */
@font-face {
    font-family: "Intro Rust";
    src: url(../fonts/IntroRust-Base.otf);
}


/*-----------------HEADER-------------------*/

/* Cabeçalho */
header{
    background-color: rgb(85, 240, 85);
    height: 10vh;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Intro Rust"; /*Usando a fonte externa da linha 15*/
}

/* Navegação */
nav{
    width: 60%;
    height: 100%;
    display: flex; 
    justify-content: space-between;
}

/* Menu de navegação */
nav menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Item do menu */
nav menu li{
    list-style-type: none;
    color: black;
    font-size: 18px;
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
}

/* Link do item de menu */
nav li a{
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Acontece quando o mouse está sobre um item de menu */
nav a:hover{
    background-color: rgb(120, 199, 120);
}

/* Div que indica que aparece com o usuaário logado */
.session-user{
    background-color: green;
    
} 

/*------------------MAIN--------------------*/

main{
    min-height: 90vh; /*Tamanho minimo*/
    height: auto; /*Tamanho se ajusta ao conteúdo*/
    background-color: whitesmoke;

    /* url da imagem de fundo */
    background: url('../images/fundo.jpg') no-repeat fixed;
    background-size: cover; /* Faz com que a imagem cubra o fundo se ajustando ao tamanho da página*/

    display: flex;
    justify-content: center;
}

.container{
    height: 100%;
    width: 60%;
    padding: 30px 100px ;
    background-color: whitesmoke;
    border-right: 2px solid gray;
    border-left: 2px solid gray;
}

.container .titulo{
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.topico-sessao hr{
    margin: 20px 0;
}

.topico-sessao{
    /*Faz gap entre os topicos*/
    margin: 50px 0;
    gap: 50px;
}

/*------------------Rodapé--------------------*/

footer{
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------Media Query-------------------*/


@media (min-width: 1000px) and (max-width: 1350px){
    body header{
        padding: 0 150px;
    }    

    body header nav{
        width: 70%;
    }
    
    body main .container .titulo{
        font-size: 14px;
    }
}

@media (min-width: 950px) and (max-width: 1100px){
    body{
        font-size: 14px;
    }

    body header{
        padding: 0 80px;
    }   
    
    body header nav{
        width: 80%;
    }

    body main .container .titulo{
        font-size: 11px;
    }
}

@media (max-width: 950px){
    body{
        font-size: 12px;
    }

    body header{
        padding: 0 0px;
    }  

    body header nav{
        width: 95%;
    }

    body main .container .titulo{
        font-size: 10px;
    }
}
