*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/*-----------------HEADER-------------------*/

header{
    background-color: lightgreen;
    height: 20vh;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    width: 70vh;
}

header nav menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav menu li{
    list-style-type: none;
    color: black;
}

header nav menu li a{
    text-decoration: none;
}

/*------------------MAIN--------------------*/

main{
    display: grid;
    grid-template-columns: auto 300px;
    grid-template-rows: auto auto auto auto;
    height: 80vh;
    background-color: whitesmoke;
    padding: 50px 100px;
}

.topico-sessao{
    margin: 50px 0;
    gap: 50px;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

form input{
    margin: 10px 0;
}