*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

/*-----------------HEADER-------------------*/

header{
    background-color: lightgreen;
    height: 10vh;
    padding: 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav{
    width: 70vh;
}

header nav menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style-type: none;
    color: black;
}

header nav menu li a{
    text-decoration: none;
}

/*------------------MAIN--------------------*/

main{
    height: 200vh;
    background-color: whitesmoke;
    padding: 50px 500px;
}

.topico-sessao{
    margin: 50px 0;
    gap: 50px;
}

form{
    margin-top: 50px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 320px;
    grid-column-start: 2; /*identifica de que coluna o item começa*/
    grid-row-start: 1; /*identifica de que linha o item começa*/
    grid-row-end: 3; /*identifica de que linha o item termina*/
}

form input{
    margin: 10px 0;
}

form h2{
    align-self: center;
}
 
form button{
    height: 30px;
    background-color: rgb(201, 200, 200);
    border-radius: 10px;
    border: none;
}

form button:hover{
    background-color: rgb(218, 218, 218);
    transform: scale(1.05);
}